/src
index_for_react_app.js
yarn.lock
assets
mocks
coverage
circle.yml
.babelrc
.eslintrc.js
.eslintignore
webpack.config.js
/.github
/dev
/.vscode
/builds
.prettierignore
.prettierrc
CONTRIBUTING.md
commitlint.config.js
webpack.dev.js
webpack.prod.js
.npmrc